body {
    font-family: 'Rubik', sans-serif;
}

#logo {
    width: 300px;
}

.titulo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.carousel-item {
    background-color: black;
    img {
        opacity: 0.4;
    }
}